.bad-script-regular {
  font-family: "Bad Script", cursive;
  font-weight: 400;
  font-style: normal;
}
body {
  font-family: "Bad Script", cursive;
  font-size: 25px;
  color: #474747;
}
h1 {
  font-align: center;
  font-weight: 300;
}

.container {
  width: 1024;
  margin: auto;
  background: rgba (0, 0, 0, 0.2)
}
.ui-draggable, 
.ui-droppable {
	background-position: top;
}

owl-carousel item img{
	height: 70px;
	width: 38px;
}
